<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!--icon-->
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}" type="image/x-icon">
    <title>{{ title }}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="topnav">
        <a class="active" href="{{ url_for('index') }}">Home</a>
        <a href="{{ url_for('new') }}">Add Book</a>
        <a href="{{ url_for('demo') }}">Demo</a>
        <a href="https://github.com/ibrahim99035/Backend_task" target="_blank">GitHub Repo</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('contact') }}">Contact</a>
        <a href="{{ url_for('plan') }}">Project Planing</a>
    </div>
    
    {% block body %}{% endblock %}
    <span class="up">UP</span>
    <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
</body>
</html>