{% extends 'base.html' %}
{% block head %}

{% endblock %}

{% block body %}
    <div class="container">
        <div>
            <h2 id="headerDemo">
                Demo about my App
            </h2>
        </div>
        <div id="demo">
            <iframe 
                width="560" height="315" 
                src="https://www.youtube.com/embed/kdsJyUbSI9E" 
                title="YouTube video player" 
                frameborder="0" 
                allow="accelerometer; autoplay; clipboard-write; 
                    encrypted-media; gyroscope; picture-in-picture" 
                allowfullscreen
                id="frame">
            </iframe>
        </div>
        <div id="subText">
            <p>View project repository on GitHub from <a href="https://github.com/ibrahim99035/Backend_task" target="_blank">Here</a>!</p>
        </div>
    </div>
{% endblock %}